*{
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
 
  
}
header{
  display: flex;
  justify-content: space-around;
 
  
  
  border-bottom: 1px solid #ccc;
  font-size: 2em;
  padding: 3% 2%;
  width: auto;
  
  
}
header span {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(66, 57, 8);
}
nav a {
  padding: 0.5rem 1rem;
  color: rgb(66, 57, 8);
}
a{
  text-decoration: none;
  
}
.nav-active {
  color: rgb(149, 117, 11);
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1.5%;
  font-size: 20px;
  color: rgb(66, 57, 8);
  
}
.my-5{
  background-image: url("../src/assets/cover/Full-Stack-Web-Development-Bundle.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(238, 236, 226);
  min-height: 600px;
  
}

.about-me{
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  background-color: rgb(19, 18, 15);
  opacity: 80%;

}