*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  
}

header{
  display: flex;
  justify-content: space-around;  
  border-bottom: 1px solid #ccc;
  font-size: 2em;
  padding: 1% 2%;
  width: 100%;    
  flex-wrap: wrap;
}

header span {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(226, 223, 213);
}
nav a {
  padding: 0.1rem 0.5rem 1.2rem;
  color: rgb(226, 223, 213);
}
#nav-hover{
 display: flex;
 width: 100%;
 justify-content: space-around;
}
a{
  text-decoration: none;
  
}
.nav-active {
  color: rgb(134, 136, 18);
}
body{
  background-image: url("../src/assets/cover/AdobeStock_146861973-min.jpg@360.jpg");
  
  background-size: cover;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1.5%;
  font-size: 20px;
  color: #ccc;
}
footer svg {
  height: 2rem;
  width: 2rem;
}
footer a {
  padding: 0 0.75rem;
}
#root {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(77, 40, 77);
  background: linear-gradient(
    90deg,
    rgba(1, 7, 15, 0) 0%,
    rgba(2, 3, 24, 0.5) 20%,
    rgba(4, 3, 29, 0.5) 80%,
    rgba(3, 4, 14, 0) 100%
  );
}


.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon-container svg {
  height: 2.50rem;
  width: 2.50rem;
  margin: 0.5rem;
}
.link-icon:visited,
.link-icon{
  color: white;
}

main{
  flex-grow: 1;
  color: rgb(238, 236, 226);
  height: 100%;
  /* background: rgb(77, 40, 77);
  background: linear-gradient(
    90deg,
    rgba(224, 219, 224, 0) 0%,
    rgba(226, 221, 226, 0.7) 20%,
    rgba(212, 205, 212, 0.7) 80%,
    rgba(77, 40, 77, 0) 100%
  ); */
}

#contact-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

#contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contact-form div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.35rem 0;
  width: 100%;
}
#contact-form label {
  flex: 1;
  flex-shrink: 0;
  text-align: right;
  padding-right: 0.5rem;
}
#contact-form input,
#contact-form textarea {
 width: 100%;
  padding: 1rem;
  outline: none;
  background-color: white;
  transition: 0.25s ease-in-out;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(22, 22, 22);
}
#contact-form textarea {
  resize: none;
}
#contact-submit {
  background-color: rgba(248, 245, 245, 1);
  padding: 6px 1rem;
  border-radius: 10px;
  font-size: 20px;
  border:2px solid rgb(241, 239, 243);
}

#contact-submit:hover{
  background-color: rgb(190, 162, 216);
}
.projects-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work-container {
  flex-basis: 90%;
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1rem;
}
.work-container svg {
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  color: black;
}


.work-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}
.work-container img {
  height: 100%;
  object-fit: cover;
}
.work-desc,
.work-github,
.work-deployed {
  padding: 0.25rem 0.5rem;
  color: black;
  font-size: 0.9rem;
}
.project-content {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;  
  width: 100%;  
}
.project-content a {
  padding: 0.25rem 0.5rem;
  background-color: rgba(225, 255, 255, 0.9);
  border-radius: 0 10px 0 0;
}
.project-content a:first-child {
  border-radius: 10px 0 0 0;
}
.work-desc {
  border-radius: 0 10px 10px 10px;
  background-color: rgba(225, 255, 255, 0.9);
}

.about-me, 
.resume-form,
.contact-form{
  
  background-color: rgba(240,255,240,.9);
  color: black;
  border-radius: 0px;
}

.about-me, 
.resume-form
{
  padding: 20px;
  
}
.resume-form a{
  color: rgb(49, 41, 24);
}

.contact-form
{
  padding: 20px 20px 4px;
  
}

.about-me1{
  padding: 5px 0px 20px;
}
.icon-space{
  padding: 20px 0px 10px;
  
}
.about-me2{
  padding: 20px 0px 10px;
}

.contact-resume{
  padding-bottom:  5px;
  border-bottom: 1px solid rgb(37, 20, 20);
  padding-top: 20px;
}

.work-experience{
  padding-bottom: 25px;
}

.error-text {
  font-size: 20px;
  padding: 8px 1rem;
}
.resume-link {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.resume-link a {
  display: flex;
  align-items: center;
  flex-grow: 0;
  width: auto;
  color: black;
  background-color: rgba(240,255,240,.7);
  border-radius: 15px;
}

.resume-link a:hover{
  color: rgb(90, 85, 41);
}

.resume-link svg {
  margin-right: 0.5rem;
}

@media screen and (min-width:760px){
  header{
    padding: 3% 2%;
    flex-wrap: nowrap;
  }  
  nav a {
    padding: 0.5rem 1rem;    
    font-size: 2rem;
  }
  #nav-hover{
    display:block;
    width: auto;
  }
  main{
    padding: 5rem 5rem;   
  }
  .about-me, 
  .resume-form
  {
    padding: 40px 80px;
    
  }
  .about-me, 
  .resume-form,
  .contact-form{
    
   border-radius: 15px;
  }
  .work-container {
    flex-basis: 45%;
    width: 100%;
  }
  .contact-form
  {
    padding: 40px 80px 4px;
    
  }

}