*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  
}

header{
  display: flex;
  justify-content: space-around;  
  border-bottom: 1px solid #ccc;
  font-size: 2em;
  padding: 3% 2%;
  width: 100%;    
}

header span {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(226, 223, 213);
}
nav a {
  padding: 0.5rem 1rem;
  color: rgb(226, 223, 213);
}
#nav-hover{
  color-adjust: rgb(235, 165, 235);
}
a{
  text-decoration: none;
  
}
.nav-active {
  color: rgb(226, 223, 213);
}
body{
  background-image: url("../src/assets/cover/AdobeStock_364876227-min.jpeg");
  
  background-size: cover;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1.5%;
  font-size: 20px;
  color: #ccc;
}
footer svg {
  height: 1.5rem;
  width: 1.5rem;
}
footer a {
  padding: 0 0.75rem;
}
#root {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
}
.App {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon-container svg {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}
.link-icon:visited,
.link-icon{
  color: white;
}

main{
  padding: 5rem 1rem;
  color: rgb(238, 236, 226);
  height: 100%;
}

#contact-form-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contact-form div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0.35rem 0;
  width: 100%;
}
#contact-form label {
  flex: 1;
  flex-shrink: 0;
  text-align: right;
  padding-right: 0.5rem;
}
#contact-form input,
#contact-form textarea {
  flex: 10;
  padding: 1rem;
  outline: none;
  background-color: white;
  transition: 0.25s ease-in-out;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(22, 22, 22);
}
#contact-form textarea {
  resize: none;
}
#contact-submit {
  background-color: rgba(248, 245, 245, 1);
  
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 20px;
  border-color: rgb(241, 239, 243);

}
#contact-submit:hover{
  background-color: rgb(190, 162, 216);
}
.projects-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.work-container {
  width: 45%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  background-color: lightgray;
  border-radius: 0.5rem;
  overflow: hidden;  
  margin: 1rem;
  
}
.work-title {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  color: white;
}
.work-image-link {
  overflow: hidden;
  width: 100%;
  flex-shrink: 1;
  height: auto;
}
.work-image-link img {
  width: 100%;
  object-fit: cover;
}
.work-desc,
.work-github {
  flex-shrink: 0;
  padding: 0.25rem 0.5rem;
  color: black;
  font-size: 0.9rem;
}
.work-github {
  border-top: 1px solid black;
}

.about-me{
  padding: 40px 80px 40px;
  background-color: honeydew;
  color: black;
  opacity: 80%;
  border-radius: 15px;
}
.about-me1{
  padding: 5px 0px 20px;
}
.icon-space{
  padding: 20px 0px 10px;
  
}
.about-me2{
  padding: 20px 0px 10px;
}

.resume-form{
  padding: 20px 40px 20px;
  background-color: rgb(240, 235, 229);
  border-radius: 10px;
  color: black;
  opacity: 80%;
}

.contact-resume{
  padding-bottom:  5px;
  border-bottom: 1px solid rgb(37, 20, 20);
  padding-top: 20px;
}

.work-experience{
  padding-bottom: 25px;
}

.contact-form {
  padding: 10px 0px 20px;
  background-color: rgb(240, 235, 229);
  color: black;
  border-radius: 10px;
  opacity: 80%;
  font-size: 20px;
  
}